$red: #f0776c;
$blue: #669ae1;
$orange: #fecf71;

$inner-radial-color: #F4F3EE;
$outer-radial-color: #DCDBD6;
$highlight-font-color: #DE3168;

@import "scss/foundation";
@import "scss/bourbon/bourbon";
@import "scss/components/timeline";
@import "scss/components/accounts-ui";



html {
   min-height: 100%;
}
body {
  @include background-image(radial-gradient($inner-radial-color, $outer-radial-color));
}

.colorline {
  @include background-image(linear-gradient(left, #c4e17f 0%,#c4e17f 10%,#f7fdca 10%,#f7fdca 23%,#fecf71 23%,#fecf71 36%,#f0776c 36%,#f0776c 49%,#db9dbe 49%,#db9dbe 62%,#c49cde 62%,#c49cde 75%,#669ae1 75%,#669ae1 88%,#62c2e4 88%,#62c2e4 100%)); 
  height: 10px;
  border-bottom: 1px solid $inner-radial-color;
}

h1.title {
  margin-bottom: 60px;
  color: $highlight-font-color;
  text-align: center;
  text-shadow: 1px 1px 0px rgb(129, 128, 128);
  font-weight: 800;
  font-size: emCalc(75px);
  font-family: 'Lobster', cursive;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2.subheader {
  color: $highlight-font-color;
  font-weight: 600;
  font-size: emCalc(18px);
}

button, .button {
  @include button(simple, $blue);
}

.contain-to-grid {
  border-bottom: 1px solid $inner-radial-color;
}

.name:hover {
  background: $inner-radial-color;
}

.search-result-list {
  border-left: 15px solid $orange;
  padding: 10px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 2px;

  span {
    padding-top: 2px;
    color: #333;
  }
}

.contain-to-grid.fade {
  margin-bottom: 20px ;
}

.fade {
  -webkit-transform: perspective(800px) rotateX(90deg);
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: perspective(800px) rotateX(90deg);
    transform: perspective(800px) rotateX(90deg); }

  to {
    -webkit-transform: perspective(800px) rotateX(0deg);
    transform: perspective(800px) rotateX(0deg);
    opacity: 1; } }


.pricing-table {
  box-shadow: 0px 5px 50px rgb(247, 247, 247);
  border-radius: 2px;
}