$red: #f0776c;
$blue: #669ae1;
$orange: #fecf71;

$inner-radial-color: #F4F3EE;
$outer-radial-color: #DCDBD6;
$highlight-font-color: #DE3168;

@import "scss/foundation";
@import "scss/bourbon/bourbon";
@import "scss/components/timeline";
@import "scss/components/accounts-ui";



html {
   min-height: 100%;
}
body {
  @include background-image(radial-gradient($inner-radial-color, $outer-radial-color));
}

ol{
  li {
    margin: 20px;
  }

} 

.right-align {
  text-align: right;
}

.side-nav {
  &.challenges {
    color: #333;
    padding: 0;
  }
  span {
    font-weight: bold;
  }
}

.challenges {
  color: #333;
  span {
    font-weight: bold;
  }
}

.colorline {
  @include background-image(linear-gradient(left, #c4e17f 0%,#c4e17f 10%,#f7fdca 10%,#f7fdca 23%,#fecf71 23%,#fecf71 36%,#f0776c 36%,#f0776c 49%,#db9dbe 49%,#db9dbe 62%,#c49cde 62%,#c49cde 75%,#669ae1 75%,#669ae1 88%,#62c2e4 88%,#62c2e4 100%)); 
  height: 10px;
  border-bottom: 1px solid $inner-radial-color;
}

h1.title, h2.title {
  text-align: center;
  color: $highlight-font-color;
  text-shadow: 1px 1px 0px rgb(129, 128, 128);
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: emCalc(35px);
  font-family: 'Lobster', cursive;
}

@media #{$small} {
    h1.title, h2.title {
    margin-bottom: 60px;
    margin-top: 0px;
    font-size: emCalc(75px);
    @include animation-name(fade);
    @include animation-duration(1s);
    @include animation-timing-function(ease);
  }
}

@include keyframes(fade) {
  from {
    @include transform(scale(0.8));
    opacity: 0;
  }
  to {
    @include transform(scale(1));
    opacity: 1;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2.subheader {
  color: $highlight-font-color;
  font-weight: 600;
  font-size: emCalc(18px);
}

 .name:hover {
  background: darken($blue, 5%) !important;
}

button, .button {
  @include button(simple, $blue);
}

.contain-to-grid {
  border-bottom: 1px solid $inner-radial-color;
}

.name:hover {
  background: $inner-radial-color;
}

.search-result-list {
  border-left: 15px solid $orange;
  padding: 10px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 2px;

  &:hover {
    background: lighten($blue, 20%);
  }

  span {
    padding-top: 2px;
    color: #333;
  }
}

.contain-to-grid.fade {
  margin-bottom: 20px ;
}



.pricing-table {
  box-shadow: 0px 5px 50px rgb(247, 247, 247);
  border-radius: 2px;
}

input {
  font-family: inherit;
  color: inherit;
  @include box-sizing(border-box); 
  width: 100% !important;
  height: 50px !important;
  //margin-bottom: 25px !important;
  padding: 0 15px 2px !important;
  font-size: 17px !important;
  background: white !important;
  border: 2px solid #ebebeb !important;
  border-radius: 4px !important;
  box-shadow: inset 0 -2px #ebebeb !important;

  &:focus {
    border-color: #62c2e4 !important;
    outline: none;
    box-shadow: inset 0 -2px #62c2e4 !important;
  }
}

fieldset {
  background: #fff;
  padding: 15px 15px 0px 15px;
  border-radius: 2px;
  margin-top: 10px;
}

.center {
  text-align: center;
  i {
    font-size: emCalc(40px);
    text-shadow: 1px 1px 0px #fff;
    color: #333;
  }
}

.my-highscore {
  margin-bottom: 60px;
  padding: 0 5px;
  color: $blue;
  text-align: center;
  text-shadow: 1px 1px 0px #fff;
  font-weight: 800;
  font-size: emCalc(35px);
  font-family: 'Lobster', cursive;
}