.login-link-text {
  @include button(simple, $blue);

}
.login-link-text:hover {
    color: #fff;
  }

.login-close-text {
  margin-top: -33px;
  position: absolute;
  @include button(simple, $blue);
  width: 100px;
}

.login-close-text:hover {
    color: #fff;
  }

  .additional-link:hover {
    color: $highlight-font-color;
    text-shadow: 1px 1px 0px $inner-radial-color;
  }

  .login-button:hover {
    color: #fff;
  }

  .error-message {
    @include alert($red);
  }

  .login-button {
    @include button(simple, $blue);
  }

#login-buttons-open-change-password {
    margin-top: 5px;
    @include button(simple, $orange);
  }

#login-buttons-logout {
    margin-top: 5px;
    @include button(simple, $red);
  }