<head>
	<title>Kalorien schätzen mit Freunden</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="colorline"></div>
	{{#if currentUser}}
	<div class="contain-to-grid fade">
		<nav class="top-bar">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><a href="/">Startseite </a></h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Left Nav Section -->
				<ul class="left">


					{{> mychallenges}}
					<li><a href="/players">Spieler herausfordern</a></li>
					<li><a href="/players/search"><i class="icon-search"></i> Spieler suchen...</a></li>

					<!--<li><a href="/questions">Frage anlegen</a></li>-->

				</ul>
			</section>
		</nav>
	</div>
	{{/if}}
	{{renderPage}}
</body>