<template name="search">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h1>Spieler suchen</h1>
			<form>
				<fieldset>
					<legend>Spieler suchen</legend>
					<label>Name</label>
					<input type="text" id="js-search-results" placeholder="email?">
				</fieldset>
			</form>
			{{> searchResults}}
		</div>
	</div>
</template>

<template name="searchResults">
	<ul class="side-nav">
	{{#each players}}
	<li><a href="/challenge/start/{{_id}}">{{emails.0.address}}</a></li>
	{{/each}}
	</ul>
</template>