<template name="search">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h1>Spieler suchen</h1>
			<form>
				<fieldset>
					<legend>Spieler suchen</legend>
					<label>Name</label>
					<input type="text" id="js-search-results" placeholder="email?">
				</fieldset>
			</form>
			{{> searchResults}}
		</div>
	</div>
</template>

<template name="searchResults">
	{{#each players}}
	<div class="row">
		<a href="/challenge/start/{{_id}}">
			<div class="small-12 lagre-12 columns">
				<div class="search-result-list">
					{{emails.0.address}} <br>
					<span>Pro-Gam0r</span>
				</div>
			</div>
		</a>
	</div>
	{{/each}}
</template>