<template name="search">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h2 class="title"><i class="icon-search"></i> Spieler suchen</h2>
			<form>
				<fieldset>
					<input type="text" id="js-search-results" placeholder="Username oder Email-Adresse" autocomplete="off">
				</fieldset>
			</form>
			{{> searchResults}}
		</div>
	</div>
</template>

<template name="searchResults">
	{{#each players}}
	<div class="row">
		<a href="/challenge/start/{{_id}}">
			<div class="small-12 lagre-12 columns">
				<div class="search-result-list">
					{{emails.0.address}}
				</div>
			</div>
		</a>
	</div>
	{{/each}}
</template>